{% extends "base.html" %}
{% block title %} Login {% endblock %}
  

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
{% endblock %}


<body>
{% block content %}
<div class="login-container"style=" position: fixed; right: 450px; top: 150px;">
    <div class="login-box">
        <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
        <p>Back to homepage <a href= "/">take me back</a></p>
    </div>
    
</div>
</body>
{% endblock %}