{% extends "base_no_logo.html" %}

{% block title %}Music{% endblock %}
{% block header %} {% endblock %}


{% block content %}

<iframe style="border-radius:12px; position: fixed; right: 25px; top: 100px" src="https://open.spotify.com/embed/playlist/0X3XvSjhFHSKWGoa571aXT?utm_source=generator&theme=0" width="40%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div style="position: fixed; left: 100px; top: 100px; z-index: 999;">
    <iframe width="250%" height="350" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1720627779&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/tal-alon-892158238" title="TALON" target="_blank"
    style="color: #cccccc; text-decoration: none;">TALON</a> · <a href="https://soundcloud.com/tal-alon-892158238/to-save-a-life" title="To save a life" target="_blank" style="color: #cccccc; text-decoration: none;">To save a life</a></div>
</div>
{% endblock %}